services:
  my-portfolio:
    image: ghcr.io/mayyzenacs/portfolio:latest
    restart: unless-stopped
    networks:
      - portfolio-network

    security_opt:
      - no-new-privileges:true

    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETUID
      - SETGID
      - NET_BIND_SERVICE

    read_only: true

    tmpfs:
      - /var/cache/nginx:mode=1777,size=10M
      - /var/run:mode=1777,size=512k
      - /tmp:mode=1777,size=20M
      - /var/log/nginx:mode=1777,size=5M

    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:80/",
        ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 15s

    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  cloudflared:
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run
    env_file:
      - .env
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN}
    networks:
      - portfolio-network
    restart: unless-stopped
    depends_on:
      - my-portfolio

networks:
  portfolio-network:
    driver: bridge
