services:
  app:
    container_name: my-portfolio
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"

    volumes:
      - /etc/ssl/cert.pem:/etc/ssl/cert.pem:ro
      - /etc/ssl/key.pem:/etc/ssl/key.pem:ro

    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
