 :root {
      --cor-principal: #711ac3; 
      --cor-principal-hover: #570e97; 
      --bg-fundo: #0f0f0f; 
      --bg-card: #1a1a1a;
      --text-white: #fff;
    }


body { background-color: #000000; }

section {
    padding-bottom: 20px;
}

.nav-bar { border-bottom: 1px solid var(--cor-principal); }

.nav-link { color: var(--text-white) }

.navbar-nav, .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
    color: var(--cor-principal); 
    background-color: transparent;
}

.last-name { color: var(--cor-principal); }

.home-section {
    min-height: 100vh; 
    position: relative; 
    padding-top: 0; 
    }

.home-section .profile-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 2px solid var(--cor-principal);
}

.icons { color: var(--text-white) }

.scroll-down {
    position: absolute; 
    bottom: 30px;       
    left: 50%;          
    transform: translateX(-50%); 
    text-align: center;
    cursor: pointer;
}

.hover-effect:hover {
    color: var(--cor-principal);
    transition: 0.3s;
}

.sobre-foto {
    max-width: 220px;
    border: 2px solid var(--cor-principal);
    box-shadow: 
        0 0 20px rgba(138, 43, 226, 0.6), 
        0 0 40px rgba(138, 43, 226, 0.4), 
        0 0 60px rgba(138, 43, 226, 0.2);
    object-fit: cover;
}

.text-about {
    color: var(--cor-principal);
    padding: 30px;
}

.card-sobre {
    background-color: #161616;
    border-left: 3px solid var(--cor-principal);
    
    border-radius: 20px;
    position: relative;
    padding: 30px;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 80%;
    margin: 0 auto;
}







