 :root {
      --cor-principal: #711ac3; 
      --cor-principal-hover: #570e97; 
      --bg-fundo: #0f0f0f; 
      --bg-card: #1a1a1a;
      --text-white: #fff;
    }

html {scroll-behavior: smooth;}

body { background-color: #000000; }

section {
    scroll-margin-top: 27px; 
}

.nav-bar { border-bottom: 1px solid var(--cor-principal); }

.nav-link { color: var(--text-white) }

.navbar-nav, .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
    color: var(--cor-principal); 
    background-color: transparent;
}

.last-name { color: var(--cor-principal); }

.home-section {
    min-height: 100vh; 
    position: relative; 
    padding-top: 0; 
}

.home-section .profile-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 2px solid var(--cor-principal);
}

.icons { color: var(--text-white) }


.scroll-down {
    display: inline-block;
    animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-10px); }
  60% { transform: translateY(-5px); }
}

.hover-effect:hover {
    color: var(--cor-principal);
    transition: 0.3s;
}



.sobre-foto {
    max-width: 220px;
    border: 2px solid var(--cor-principal);
    box-shadow: 
    0 0 20px rgba(138, 43, 226, 0.6), 
    0 0 40px rgba(138, 43, 226, 0.4), 
    0 0 60px rgba(138, 43, 226, 0.2);
    object-fit: cover;
}

.text-about {
    color: var(--cor-principal);
    padding: 30px;
}

.card-sobre {
    background-color: #161616;
    border-left: 3px solid var(--cor-principal);
    border-radius: 20px;
    position: relative;
    padding: 30px;
}

.hidden-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s ease-out;
}

.hidden-right {
    opacity: 0;
    transform: translateX(100px);
    transition: all 1s ease-out;
}

.show-element {
    opacity: 1;
    transform: translateX(0);
}


.purple-text {color: var(--cor-principal);}

.tech-badge {
    transition: all 0.3s ease;
    cursor: default;
    border: 1px solid transparent;
}
.tech-badge:hover { 
    
    background-color: var(--cor-principal);
    box-shadow: 0 5px 15px rgba(113, 26, 195, 0.4);
    border-color: #9d4edd;
    color: white
}

.btn:hover {
    transform: translateY(-5px);
    background-color: var(--cor-principal);
    box-shadow: 0 5px 15px rgba(113, 26, 195, 0.4);
    border-color: #9d4edd;
    color: white
}



