.rodape-conteudo {
  margin: 0vh;
  padding: 0vh;
  font-size: 2vh;
  text-align: center;
  margin-top: 40vh;
}

.social-icons {
  display: flex;
  margin-top: 0vh;
  gap: 0.25rem;
}

.social-icons img {
  max-width: 2.3vw;
}
