.rodape-container {
  background-color: black;
  display: grid;
}

.rodape {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5vh;
  align-items: center;
}

.rodape-conteudo {
  align-content: center;
}

.rodape p,
h3 {
  text-align: center;
}

.rodape a {
  text-decoration: none;
}

.rodape-conteudo {
  text-align: center;
  text-decoration: none;
  gap: 2.7vh;
}
