#conteudo-form {
  color: #f5f5f5;
  justify-self: center;
  display: grid;
}

.formação-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0vh;
  padding: 0vh;
}

.subtitulo-formação {
  font-size: 17vh;
  word-break: break-word;
  text-transform: uppercase;
  justify-self: center;
  max-width: 20vw;
  line-height: 1;
  letter-spacing: 0.53vh;
  margin-left: 20vh;
}

.formação {
  font-size: 2.6vh;
  line-height: 1.3;
  justify-items: center;
  align-items: center;
  margin: 13vh 0vh 0vh 28vh;
  text-align: center;
}

.formação-texto {
  justify-items: center;
  align-items: center;
  font-size: 2.5vh;
  text-align: center;
}
