#conteudo-form {
  background-color: #3f3f3f;
  color: #f5f5f5;
  justify-self: center;
  display: grid;
  max-width: 100vw;
  width: 100%;
}

.formação-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2.7vh;
}

.subtitulo-formação {
  font-size: 15vh;
  word-break: break-word;
  text-transform: uppercase;
  justify-self: center;
  max-width: 18vw;
  line-height: 1;
  letter-spacing: 0.53vh;
}

.formação {
  font-size: 2.5vh;
  line-height: 1.3;
  justify-items: center;
  align-items: center;
  padding: 2.7vh;
}

.formação-texto {
  justify-items: center;
  align-items: center;
  font-size: 2.5vh;
  text-align: center;
}
