.header {
  max-width: 99vw;
  padding: 3.7vh 1.56vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  text-transform: uppercase;
}

@media (max-width: 41.6vw) {
  .header {
    flex-direction: column;
    gap: 1.67vh;
    padding: 1.67vh;
  }
}
