.header {
  max-width: 83.3vw;
  padding: 3.7vh 1.56vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 3.7vh;
}

.header-menu a {
  text-decoration: none;
  color: #000000;
  font-size: 2.78vh;
  padding: 1.85vh 0.52vw;
}

.header h1 {
  text-transform: uppercase;
}

@media (max-width: 41.6vw) {
  .header {
    flex-direction: column;
    gap: 1.67vh;
    padding: 1.67vh;
  }
}
