#conteudo-projetos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0vh;
}

@media (max-width: 78.1vw) {
  #conteudo-projetos {
    max-width: 62.5vw;
    flex-direction: column;
  }
}

.subtitulo {
  font-size: 18vh;
  word-break: break-word;
  text-transform: uppercase;
  line-height: 1;
  max-width: 25vw;
  letter-spacing: 0.26vw;
  align-content: center;
  margin-left: 25vh;
  text-align: center;
  margin-top: 20vh;
}

.projetos-texto {
  font-size: 3vh;
  line-height: 1.6;
  letter-spacing: 0.01vw;
}

.projeto-titulo {
  font-size: 3.2vh;
  letter-spacing: 0.01vw;
  margin: 1.5vh;
}

.projeto-ano {
  font-size: 2.4vh;
}

.projeto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5vh;
  margin-bottom: 2vh;
  background: #ffffff;
  position: relative;
  max-width: 88vh;
  background-color: #4e1a83;
  margin-left: 4vh;
}

.projeto::before {
  content: "";
  display: block;
  width: 0.42vw;
  height: 4vw;
  background: linear-gradient(#6718fa, #4000b8);
  position: absolute;
  top: 1.8vh;
  left: -0.21vw;
}

.projeto-ano {
  position: absolute;
  top: 1.8vh;
  left: -5.2vw;
}

.projeto_p {
  font-size: 2.6vh;
  line-height: 3vh;
  letter-spacing: 0.04vw;
  margin: 1.5vh;
}

.ferramentas {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}

.ferramentas li {
  font-size: 2.2vh;
  background: #6718fa;
  padding: 0.34vh 0.9vw;
  border-radius: 2vh;
  color: #f5f5f5;
  list-style: none;
  margin: 0.45vh;
}

.projeto a {
  font-size: 3vh;
  align-content: center;
  text-decoration: none;
  color: #ffffff;
  grid-row: 3;
}

.projeto a:hover {
  color: #8550e7;
}

.projeto_p {
  grid-column: 1;
}
