#conteudo-projetos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  margin: 12vh;
}

@media (max-width: 78.1vw) {
  #conteudo-projetos {
    max-width: 62.5vw;
    flex-direction: column;
  }
}

.subtitulo {
  font-size: 18vh;
  word-break: break-word;
  text-transform: uppercase;
  line-height: 1;
  max-width: 25vw;
  letter-spacing: 0.26vw;

  align-content: center;
  margin-left: 10vh;
}

.projetos-texto {
  font-size: 3vh;
  line-height: 1.6;
  letter-spacing: 0.01vw;
}

.projeto-titulo {
  font-size: 3.2vh;
  letter-spacing: 0.01vw;
}

.projeto-ano {
  font-size: 2.4vh;
}

.projeto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.8vh;
  margin-bottom: 2vh;
  background: #f5f5f5;
  position: relative;
  max-width: 82vh;
  background-color: #d2bff5;
}

.projeto::before {
  content: "";
  display: block;
  width: 0.42vw;
  height: 4vw;
  background: linear-gradient(#6718fa, #4000b8);
  position: absolute;
  top: 1.8vh;
  left: -0.21vw;
}

.projeto-ano {
  position: absolute;
  top: 1.8vh;
  left: -5.2vw;
}

.projeto_p {
  font-size: 2.6vh;
  line-height: 3vh;
  letter-spacing: 0.04vw;
}

.ferramentas {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9vh;
  align-content: start;
}

.ferramentas li {
  font-size: 2.5vh;
  background: #6718fa;
  padding: 0.46vh 0.9vw;
  border-radius: 2vh;
  color: #f5f5f5;
  margin-top: 1.5vh;
}

a {
  font-size: 3vh;
  align-content: center;
  text-decoration: none;
  color: #6718fa;
}

a:hover {
  color: #8550e7;
}

.projeto_p {
  grid-column: 1;
}
