.sidebar {
  width: 17vw;
  height: 100vh;
  background-color: #4e1a83;
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.name {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 6vh;
}

.sidebar-menu {
  margin-right: 6vh;
}

.sidebar-menu li {
  margin: 0vh;
  padding: 0vh;
  list-style: none;
  font-size: 3vh;
  text-align: center;
}

.sidebar-menu a {
  color: #ffffff;
  text-decoration: none;
}
