.sidebar {
  width: 17vw;
  height: 100vh;
  background-color: #1a1a1a;
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar h1 {
  color: #ffffff;
  text-transform: uppercase;
}

.header-menu {
  color: #ffffff;
}

.aba-conteudo {
  display: none;
}

.aba-conteudo.ativa {
  display: block;
}
