@import "./header.css";
@import "./formacao.css";
@import "./projetos.css";
@import "./sidebar.css";
@import "./footer.css";

body {
  font-family: "Verdana", "Arial Narrow", Arial, sans-serif;
  margin: 0vh;
  padding: 0vh;
  justify-self: center;
  background-color: rgb(0, 0, 0);
  color: #ffff;
}

.conteudo {
  margin-left: 9vw;
  padding: 4vh 3vw;
  width: 83vw;
}

h1,
h2,
h3 {
  margin: 0vh;
}

.conteudo img {
  max-width: 23vw;
  display: block;
  justify-self: center;
  margin-left: 10vh;
  margin-top: 10vh;
}

#conteudo-introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 95vw;
  justify-content: center;
  align-items: center;
}

#conteudo-introducao h1 {
  font-size: 5.3vh;
  justify-self: left;
  line-height: 1.2;
  position: relative;
  z-index: 1;
}

#conteudo-introducao h1::before {
  content: "";
  display: block;
  width: 6.25vw;
  height: 10vh;
  background: url(./detalhe.png) no-repeat center;
  position: absolute;
  top: -1.1vh;
  left: -3.1vw;
  z-index: -1;
}

#conteudo-introducao p {
  line-height: 1.5;
  font-size: 3vh;
  margin-bottom: 0vh;
}
